<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>SequenceServer</title>
    <meta name="author" content="Anurag Priyam" />
    <meta name="author" content="Ben J. Woodcroft" />
    <meta name="author" content="Yannick Wurm" />
    <meta name="author" content="Cedric Wurm" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <script type="text/javascript" src=
<%= uri('/js/jquery.js') %>></script>
    <script type="text/javascript" src=
<%= uri('/js/jquery.enablePlaceholder.min.js') %>></script>
    <script type="text/javascript" src=
<%= uri('/js/search.js') %>></script>
    <%# without a space after erb's closing tag, a / gets appended to css' path %>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <link rel="stylesheet" media="screen" type="text/css" href=<%= uri('/css/beige.css') %> />
    <style type="text/css">
/* Override some defaults */
html, body {
background-color: #2B3E42;
}
body {
padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container {
/*width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}
/* The white background content wrapper */
.content {
background-color: #fff;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
padding: 20px;
margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
font-family: Tahoma, Arial, sans-serif;
font-size: 16;
}

    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>BLAST Sequence(s)</h1>
        </div>
        <div class="row">
          <div class="span12">
            <div class="entryfield box rounded">
              <form method="post" action=<%= uri('/#result') %> id="input">
              	<div class="normal">
                <textarea name="sequence" rows="11" id="sequence" placeholder="Paste your sequence(s) here..." ></textarea>
                </div>
            </div>
          </div>
          <div class="span3 box rounded blastmethods">
            <div class="input">
            	<div class="normal">
              <ul class="inputs-list">
                <li>
                  <label>
                    <input type="radio" name="method" value="blastp" id="blastp" title="Protein query; six-frame translated nucleotide database." />
                    <span>blastp</span></label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="method" value="tblastn" id="tblastn" title="Protein query; six-frame translated nucleotide database." />
                    <span>tblastn</span></label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="method" value="blastn" id="blastn" title="Nucleotide query; nucleotide database." />
                    <span>blastn</span></label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="method" value="blastx" id="blastx" title="Translated nucleotide query; protein database." />
                    <span>blastx</span></label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="method" value="tblastx" id="tblastx" title="Six-frame translated nucleotide query; six-frame translated nucleotide database" />
                    <span>tblastx</span></label>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>
        <!-- databases -->
        <div class='row'>
          <div class="span7 box rounded">
            <h2>Nucleotide databases</h2>
            <div class="input normal">
              <ul class="inputs-list">
                <!-- Database list is actually dynamically loaded -->
                <%    settings.databases['nucleotide'].each_with_index do |db, i| %>
                <li>
                  <label>
                    <input type="checkbox" id="ndb<%= i%>" name="db[nucleotide][]" value="<%= i%>" />
                    <span><%= db.title or db.name %></span> </label>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="span7 box rounded normal">
            <h2>Protein databases</h2>
            <div class="input">
              <ul class="inputs-list">
                <!-- Database list is actually dynamically loaded -->
                <%    settings.databases['protein'].each_with_index do |db, i| %>
                <li>
                  <label>
                    <input type="checkbox" id="pdb<%= i%>" name="db[protein][]" value="<%= i%>" />
                    <span class="large"><%= db.title or db.name %></span> </label>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <!-- advanced options -->
      <div class='row'>
        <div class="span12 advanced box rounded">
          <span title="Click to show/hide advanced options."><strong>Advanced parameters:</strong></span>
          <input type="text" class="span8" name="advanced" id="advanced" title="View, and enter advanced parameters." placeholder="eg: -evalue 1.0e-5 -num_alignments 100"/>
        </div>
        <div class="span2">
          <input type="submit" class="btn large primary" value="BLAST!"/>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
